/* Zona de juego */
.game {
  padding: 2.5rem 0;
  background-color: var(--blue2-color);
  /* Estilos responsive */
  flex-direction: column;
  justify-content: start;
}

.game * {
  background-color: var(--blue2-color);
}

/* Secciones de la zona de juego */
@media screen and (max-width: 768px) {
  .game > section {
    width: 75%;
  }
}

@media screen and (min-width: 769px) and (max-width: 2559px) {
  .game > section {
    width: 50%;
  }
}

@media screen and (min-width: 2560px) {
  .game > section {
    width: 25%;
  }
}

/* Estadísticas del juego */
/* Botonera de las estadísticas */
@media screen and (max-width: 768px) {
  .game > nav {
    width: 75%;
  }
}

@media screen and (min-width: 769px) and (max-width: 2559px) {
  .game > nav {
    width: 50%;
  }
}

@media screen and (min-width: 2560px) {
  .game > nav {
    width: 25%;
  }
}

.game > nav li {
  width: 100%;
}

/* Estilos responsive */
.stats {
  flex-direction: column;
}

/* Tablas de las estadísticas */
.stats > article {
  width: 100%;
  /* Estilos responsive */
  flex-direction: column;
}

.stats table {
  width: 100%;
  border: var(--black-thick-border);
  border-top: var(--black-thin-border);
  border-collapse: collapse;
}

.stats caption {
  border: var(--black-thick-border);
  border-bottom: var(--black-thin-border);
  padding: 1rem;
  background-color: var(--white-color);
}

.stats caption * {
  background-color: var(--white-color);
}

.stats tr > * {
  width: 50%;
  border: var(--black-thin-border);
  padding: 1rem;
  text-wrap-mode: nowrap;
}

.stats th {
  color: var(--white-color);
  background-color: var(--blue1-color);
}

/* Filas impares */
.stats tr:nth-child(odd) > td {
  background-color: var(--white-color);
}

/* Filas pares */
.stats tr:nth-child(even) > td {
  background-color: var(--blue3-color);
}

/* Filas destacadas */
.stats tr.highlighted > td {
  background-color: var(--blue2-color);
}

/* Configuración y tablero de juego */
/* Estilos responsive */
.config-board {
  flex-direction: column;
}

/* Configuración del juego */
.config {
  width: 100%;
}

.config > form {
  width: 100%;
  /* Estilos responsive */
  align-items: baseline;
}

.config fieldset {
  width: 100%;
  /* Estilos responsive */
  flex-direction: column;
}

.config fieldset > * {
  width: 100%;
}

.config legend {
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

/* Estilos responsive */
.config fieldset > div {
  justify-content: space-between;
}

/* Tablero de juego */
/* Estilos responsive */
@media screen and (max-width: 425px) {
  .grid {
    gap: 0.75rem;
  }
}

/* Estilos responsive */
@media screen and (min-width: 426px) {
  .grid {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 425px) {
  .board .grid > div {
    width: 25rem;
    height: 25rem;
  }

  .board div.green,
  .board div.active-green {
    border-radius: 25rem 5rem 5rem;
  }

  .board div.red,
  .board div.active-red {
    border-radius: 5rem 25rem 5rem 5rem;
  }

  .board div.yellow,
  .board div.active-yellow {
    border-radius: 5rem 5rem 5rem 25rem;
  }

  .board div.blue,
  .board div.active-blue {
    border-radius: 5rem 5rem 25rem;
  }
}

/* Mensajes emergentes de SweetAlert2 */
@media screen and (max-width: 425px) {
  .swal2-popup {
    top: 40rem;
  }
}

@media screen and (min-width: 426px) {
  .swal2-popup {
    top: 30rem;
  }
}
