/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variables */
:root {
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --blue1-color: rgb(47, 85, 151);
  --blue2-color: rgb(107, 155, 193);
  --blue3-color: rgb(223, 230, 244);
  --black-thick-border: 0.5rem solid var(--black-color);
  --black-thin-border: 0.25rem solid var(--black-color);
  --white-border: 0.5rem solid var(--white-color);
  --blue1-border: 0.5rem solid var(--blue1-color);
}

/* Tamaño de la fuente */
@media screen and (max-width: 425px) {
  :root {
    font-size: 6px;
  }
}

@media screen and (min-width: 426px) and (max-width: 1440px) {
  :root {
    font-size: 9px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2559px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 2560px) {
  :root {
    font-size: 9px;
  }
}

/* Estilos generales iniciales */
* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: var(--black-color);
  background-color: var(--blue1-color);
}

/* Estilos responsive iniciales */
.flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

/* Estilos generales */
.oculto {
  display: none;
}

.negrita {
  font-weight: bold;
}

/* Anchura mínima */
body {
  min-width: 426px;
}

/* Encabezados */
h1 {
  font-size: 3.5rem;
  color: var(--white-color);
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

/* Tablas */
caption {
  font-weight: bold;
}

/* Enlaces */
a {
  text-decoration: none;
}

/* Zona de juego */

/* Secciones de la zona de juego */

/* Estadísticas del juego */
/* Botonera de las estadísticas */

/* Tablas de las estadísticas */

/* Configuración y tablero de juego */

/* Configuración del juego */

/* Tablero de juego */

/* Mensajes emergentes de SweetAlert2 */
.swal2-popup {
  border: var(--blue1-border);
  background-color: var(--white-color);
  position: fixed;
}

.swal2-title {
  color: var(--blue1-color);
  background-color: var(--white-color);
}

.swal2-actions {
  background-color: var(--white-color);
  /* Estilos responsive */
  gap: 2rem;
}

.swal2-confirm,
.swal2-confirm:hover {
  color: var(--white-color);
  background-color: var(--blue1-color);
}

.swal2-cancel,
.swal2-cancel:hover {
  color: var(--white-color);
  background-color: var(--blue1-color);
}
