/* Zona de juego */
.game {
  padding: 2.5rem 0;
  background-color: var(--blue2-color);
  /* Estilos responsive */
  flex-direction: column;
  justify-content: start;
}

.game * {
  background-color: var(--blue2-color);
}

/* Secciones de la zona de juego */
@media screen and (max-width: 768px) {
  .game > section {
    width: 75%;
  }
}

@media screen and (min-width: 769px) and (max-width: 2559px) {
  .game > section {
    width: 50%;
  }
}

@media screen and (min-width: 2560px) {
  .game > section {
    width: 25%;
  }
}

/* Estadísticas del juego */
/* Botonera de las estadísticas */
@media screen and (max-width: 768px) {
  .game > nav {
    width: 75%;
  }
}

@media screen and (min-width: 769px) and (max-width: 2559px) {
  .game > nav {
    width: 50%;
  }
}

@media screen and (min-width: 2560px) {
  .game > nav {
    width: 25%;
  }
}

.game > nav li {
  width: 100%;
}

/* Estilos responsive */
.stats {
  flex-direction: column;
}

/* Tablas de las estadísticas */
.stats > article {
  width: 100%;
  /* Estilos responsive */
  flex-direction: column;
}

.stats table {
  width: 100%;
  border: var(--black-thick-border);
  border-top: var(--black-thin-border);
  border-collapse: collapse;
}

.stats caption {
  border: var(--black-thick-border);
  border-bottom: var(--black-thin-border);
  padding: 1rem;
  background-color: var(--white-color);
}

.stats caption * {
  background-color: var(--white-color);
}

.stats tr > * {
  width: 50%;
  border: var(--black-thin-border);
  padding: 1rem;
  text-wrap-mode: nowrap;
}

.stats th {
  color: var(--white-color);
  background-color: var(--blue1-color);
}

/* Filas impares */
.stats tr:nth-child(odd) > td {
  background-color: var(--white-color);
}

/* Filas pares */
.stats tr:nth-child(even) > td {
  background-color: var(--blue3-color);
}

/* Filas destacadas */
.stats tr.highlighted > td {
  background-color: var(--blue2-color);
}

/* Configuración y tablero de juego */
.game .config-board {
  width: 100%;
  /* Estilos responsive */
  flex-direction: column;
}

/* Configuración del juego */
@media screen and (max-width: 768px) {
  .config {
    width: 75%;
  }
}

@media screen and (min-width: 769px) and (max-width: 2559px) {
  .config {
    width: 50%;
  }
}

@media screen and (min-width: 2560px) {
  .config {
    width: 25%;
  }
}

.config > form {
  width: 100%;
  /* Estilos responsive */
  align-items: baseline;
}

.config fieldset {
  width: 100%;
  /* Estilos responsive */
  flex-direction: column;
}

.config fieldset > * {
  width: 100%;
}

.config legend {
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

/* Estilos responsive */
.config fieldset > div {
  justify-content: space-between;
}

/* Tablero de juego */
.board {
  width: 100%;
}

/* Estilos responsive */
.board > div {
  gap: 1rem;
}

@media screen and (max-width: 425px) {
  .board .s-size {
    width: 55%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .board .s-size {
    width: 45%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .board .s-size {
    width: 35%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 2559px) {
  .board .s-size {
    width: 25%;
  }
}

@media screen and (min-width: 2560px) {
  .board .s-size {
    width: 15%;
  }
}

@media screen and (max-width: 425px) {
  .board .m-size {
    width: 55%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .board .m-size {
    width: 65%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .board .m-size {
    width: 50%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 2559px) {
  .board .m-size {
    width: 35%;
  }
}

@media screen and (min-width: 2560px) {
  .board .m-size {
    width: 20%;
  }
}

@media screen and (max-width: 425px) {
  .board .l-size {
    width: 55%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .board .l-size {
    width: 90%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .board .l-size {
    width: 65%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 2559px) {
  .board .l-size {
    width: 50%;
  }
}

@media screen and (min-width: 2560px) {
  .board .l-size {
    width: 27.5%;
  }
}

@media screen and (max-width: 425px) {
  .board div.flip-card {
    width: 9rem;
    height: 9rem;
  }
}

/* Mensajes emergentes de SweetAlert2 */
@media screen and (max-width: 425px) {
  .s-size .swal2-popup {
    top: 35rem;
  }

  .m-size .swal2-popup {
    top: 45rem;
  }

  .l-size .swal2-popup {
    top: 55rem;
  }
}

@media screen and (min-width: 426px) {
  .swal2-popup {
    top: 30rem;
  }
}
