/* Configuración del juego */
/* Input de tipo radio button */
.rd-btn {
  display: none;
}

.rd-btn + label {
  width: 100%;
  border: var(--black-thin-border);
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--white-color);
  cursor: pointer;
}

.rd-btn:checked + label {
  width: 100%;
  color: var(--white-color);
  background-color: var(--blue1-color);
}

.rd-btn + label > img {
  width: 1.5rem;
  background-color: transparent;
}

.rd-btn:checked + label > img {
  filter: var(--white-filter);
}

/* Botón */
.btn {
  border: var(--black-thin-border);
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
  color: var(--white-color);
  background-color: var(--blue1-color);
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  box-shadow: 5px 5px 10px var(--black-color);
}
